<div class="modal fade" id="detailModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ข้อมูลสถานที่ท่องเที่ยว</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>สถานที่ท่องเที่ยวแห่งนี้เปิดให้บริการทุกวัน มีสิ่งอำนวยความสะดวกครบครัน เหมาะสำหรับเดินทางมาท่องเที่ยวทั้งแบบครอบครัวและกลุ่มเพื่อน</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
            </div>
        </div>
    </div>
</div>