/* ควบคุมความสูงของรูปภาพสไลด์ */
.carousel-img {
    height: 450px;
    object-fit: cover;
}

/* เอฟเฟกต์การ์ด */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
}

/* ควบคุมขนาดรูปภาพการ์ดให้เท่ากันทุกใบแก้ปัญหาภาพยืด */
.card .card-img-top {
    height: 200px;
    object-fit: cover;
}